{% extends "base.html" %}
{% load crispy_forms_tags %}

{% block additional_css %}
<link href="//netdna.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css" rel="stylesheet">
<link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.6.3/css/bootstrap-select.min.css" />
{% endblock additional_css %}

{% block content %}
<form method="post">{% csrf_token %}
    {% crispy form %}
    {% comment %} {% for field in form %}
        <div class="inline fields">
            <div class="field">
                <label>{{ field.name | title }}</label>
            </div>
            <div class="field">
                {{ field }}
            </div>
        </div>
    {% endfor %} {% endcomment %}
    <button type="submit" class="btn btn-primary">Submit</button>

    <button class="btn btn-secondary" type="reset">Reset </button>

</form>
{% endblock content %}

{% block additional_js %}

<script>
$(document).ready(function(){
    $('#id_ID').on('change', function() {
        console.log(this.value)
        $.ajax({
            type: "GET",
            url: "/api/v1/member/" + this.value,
            dataType: "json",
            success: function (result, status, xhr) {
                console.log(result)
                $('#id_MemberType').val(result.MemberTypeDetails).prop('readonly','true');

                $('#id_name').val(result.name).prop('readonly','true');

                $('#id_CenterDetails').val(result.CenterDetails).prop('readonly','true');

                $('#id_FatherName').val(result.father_name).prop('readonly','true');

                $('#id_Gender').val(result.gender).prop('readonly','true');

                $('#id_Contact').val(result.contact).prop('readonly','true');

                $('#id_Department').val(result.department).prop('readonly','true');

            },
            error: function (xhr, status, error) {
                alert("Result: " + status + " " + error + " " + xhr.status + " " + xhr.statusText)
            }
        });
    });

    $('form').on('submit',function(){
        var inTime = new Date($('#id_inTime').val())
        var outTime = new Date($('#id_outtime').val())
        $(this).append(inTime,outTime);
        return true;
    });

});

</script>

{% endblock additional_js %}